/****** Hero Section ******/
.hero-section {
  font-family: "Montserrat", "Open Sans", sans-serif;
  background: rgba(165, 165, 141, 0.15);
  padding: 4.8rem 0 0.1rem 0;
}

.ramyr-img {
  height: 44rem;
  border-radius: 100%;
  opacity: 0.8;
}

.hero-heading {
  font-size: 5.2rem;
  letter-spacing: -0.5px;
}

.hero-subheading {
  font-size: 1.8rem;
  font-weight: 600;
}

.replace-me {
  color: #848471;
  border-bottom: 1px solid #848471;
}

.hero-btn-cont {
  margin-top: 1.2rem;
}

/****** About Me Section ******/
.about-section {
  margin: 9.6rem 0 4.8rem;
}

.about-content {
  font-size: 2rem;
  line-height: 1.8;
}

.about-me-img {
  width: 32rem;
  opacity: 0.75;
}

/****** About Me Section - Misc ******/
.misc-about-section {
  margin: 9.6rem 0 4.8rem;
}

.misc-about-card {
  width: 36rem;
  min-width: 30rem;
}

.about-card-img {
  height: 21.7rem !important;
  opacity: 0.8;
  object-fit: cover;
  object-position: center;
  overflow-y: hidden;
}

.misc-card-body {
  margin: 0 0.8rem;
}

.misc-card-title {
  margin-top: 1.2rem;
  letter-spacing: 0.1rem;
}

.misc-card-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

.misc-about-card button {
  margin-top: 1.2rem;
}

.modal-card-btn {
  justify-self: flex-end !important;
  margin: 0 1.2rem 1.8rem;
}

/****** Project Section ******/
.project-section {
  margin: 9.6rem 0 4.8rem;
  padding-bottom: 1rem;
  background: rgba(165, 165, 141, 0.15);
}

.project-container {
  max-width: 96rem;
  margin: 0 auto;
}

.project-card-heading {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.project-card-description {
  font-size: 1.6rem;
}

.project-img {
  opacity: 0.8;
  border-radius: 11px;
  transition: 0.3s ease-in-out;
}

.project-img:hover {
  opacity: 1;
}

.project-carousel-indicators {
  margin-bottom: -4rem !important;
}

.project-carousel-control-prev {
  left: -10rem !important;
}

.project-carousel-control-next {
  right: -10rem !important;
}

.project-carousel .carousel-control-prev-icon {
  filter: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M4.146 0.146a.5.5 0 0 1 .708.708L1.707 4l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5z'/%3E%3C/svg%3E");
  background-size: 1.5rem 1.5rem;
}
.project-carousel .carousel-control-next-icon {
  filter: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M3.854 0.146a.5.5 0 0 0-.708.708L6.293 4l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5z'/%3E%3C/svg%3E");
  background-size: 1.5rem 1.5rem;
}

/* 
--- 01 Typography System

    - Font Syze System (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    - Font Weights: 
        Default: 400
        Medium: 500
        Semi-bold: 600
        Bold: 700

    - Line Heights:
        Default: 1
        Small: 1.05
        Medium: 1.2
        Paragraph default: 1.6
        Large: 1.8

    - Letter Spacing:
        0.5px
        0.75px

    --- 02 Colours

    - Primary: #a5a58d (Call-to-action BG and Button Colours)
    - Secondary: #d1e0e5
    - Tints:
        #edede8
        #dbdbd1

    - Shades: 
        #898e7c
        #10100e

    - Greys: 
        ##ccc (inactive button font color)

        #555 

        #777
        #888
        #767676 (lightest grade allowed for white)

        #4a4a4a (illustration border)

        ##333 (Section Hero Text Colour)
        #e5e5e5 (Section Hero Background)

        - Illustration:

        - Others:
            #f6f6f4 (Inactive button)
            #f4e3d7
            #b3c6d1
    --- 05 Shadows

    --- 06 Border Radius
        Default: 9px
        Medium: 11px


    --- 07 Whitespace

    - SPACING SYSTEM (px)
        2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
