/****** Heeader ******/
.header {
  position: relative;
}

.navbar {
  padding: 0 4.8rem 0;
}

.header .navbar {
  background-color: rgba(165, 165, 141, 0.15) !important;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  padding-bottom: 0;
  padding-top: 0;
  background-color: rgba(165, 165, 141, 0.9);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
  z-index: 9999;
  transition: 0.5s all ease-in-out;
}

.nav-logo {
  height: 5rem;
}

.navbar-link-container {
  padding-left: 2.4rem;
  font-size: 2rem;
}

.navbar-link {
  font-weight: 500;
}

.nav-link {
  color: #555 !important;
  transition: 0.3s all ease-in-out;
}

.nav-link:hover {
  transform: translateY(-5px);
  text-shadow: 0 5px rgba(165, 165, 141, 0.25);
  border-radius: 7px;
}

/****** Hero Section ******/
.hero-section {
  font-family: "Montserrat", "Open Sans", sans-serif;
  background: rgba(165, 165, 141, 0.15);
  padding: 2.4rem 0;
}

.ramyr-img {
  height: 36rem;
  border-radius: 100%;
  opacity: 0.8;
}

.hero-description {
  justify-content: start;
  align-items: start;
}

.hero-heading {
  font-size: 5.2rem;
  letter-spacing: -0.5px;
}

.hero-subheading {
  font-size: 1.8rem;
  font-weight: 600;
}

.replace-me {
  letter-spacing: 1.5px;
  color: #848471;
  border-bottom: 1px solid #848471;
}

.hero-btn-cont {
  margin-top: 1.2rem;
}

.hero-btn-cont .btn-primary {
  margin-right: 1.5rem;
}

/****** About Me Section ******/
.about-section {
  margin: 9.6rem 0 4.8rem;
  padding: 2rem 0;
}

.about-content {
  font-size: 2rem;
  line-height: 1.8;
}

.about-me-img {
  width: 32rem;
  opacity: 0.75;
}

/****** About Me Section - Misc ******/
.misc-about-section {
  margin: 9.6rem 0 4.8rem;
  padding: 2rem 0;
}

.misc-about-card {
  width: 36rem;
  min-width: 30rem;
}

.misc-card-shadow {
  box-shadow: 0 0 6px 12px rgba(0, 0, 0, 0.025);
  transition: 0.3s ease-in-out;
}

.misc-card-shadow:hover {
  transform: translateY(-10px);
}

.about-card-img {
  height: 21.7rem !important;
  opacity: 0.8;
  object-fit: cover;
  object-position: center;
  overflow-y: hidden;
}

.misc-card-body {
  margin: 0 0.8rem;
}

.misc-card-title {
  margin-top: 1.2rem;
  letter-spacing: 0.1rem;
}

.misc-card-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

.misc-about-card button {
  margin-top: 1.2rem;
}

.modal-card-btn {
  justify-self: flex-end !important;
  margin: 0 1.2rem 1.8rem;
}

/****** Project Section ******/
.project-section {
  margin: 9.6rem 0;
  padding: 2rem 0;
  background: rgba(165, 165, 141, 0.15);
}

.project-container {
  max-width: 96rem;
  margin: 0 auto;
}

.project-link:link,
.project-link:visited {
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease-in-out;
}

.project-link:hover,
.project-link:active {
  color: #10100e;
  text-decoration: underline;
}

.project-card-heading {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.project-card-description {
  font-size: 1.6rem;
}

.project-img {
  opacity: 0.8;
  border-radius: 11px;
  transition: 0.3s ease-in-out;
}

.project-img:hover {
  opacity: 1;
}

.project-carousel-indicators {
  margin-bottom: -4rem !important;
}

.project-carousel-control-prev {
  left: -10rem !important;
}

.project-carousel-control-next {
  right: -10rem !important;
}

/****** Project Section ******/
.contact-me-section {
  margin: 9.6rem 0 4.8rem;
}

.contact-img-container {
  height: 36rem;
}

.contact-me-form {
  background-color: rgba(165, 165, 141, 0.15);
  border-radius: 21px;
}

.contact-form-header {
  font-size: 1.8rem;
}

.contact-me-form input,
.contact-me-form textarea {
  font-size: 1.6rem;
  color: #555;
  opacity: 0.7;
}

.contact-me-form textarea {
  resize: none;
}

.contact-btn {
  font-size: 1.8rem !important;
  letter-spacing: 0.3rem;
  border-radius: 11px !important;
}

/* 
--- 01 Typography System

    - Font Syze System (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    - Font Weights: 
        Default: 400
        Medium: 500
        Semi-bold: 600
        Bold: 700

    - Line Heights:
        Default: 1
        Small: 1.05
        Medium: 1.2
        Paragraph default: 1.6
        Large: 1.8

    - Letter Spacing:
        0.5px
        0.75px

    --- 02 Colours

    - Primary: #a5a58d (Call-to-action BG and Button Colours)
    - Secondary: #d1e0e5
    - Tints:
        #edede8
        #dbdbd1

    - Shades: 
        #898e7c
        #10100e

    - Greys: 
        ##ccc (inactive button font color)

        #555 

        #777
        #888
        #767676 (lightest grade allowed for white)

        #4a4a4a (illustration border)

        ##333 (Section Hero Text Colour)
        #e5e5e5 (Section Hero Background)

        - Illustration:

        - Others:
            #f6f6f4 (Inactive button)
            #f4e3d7
            #b3c6d1
    --- 05 Shadows

    --- 06 Border Radius
        Default: 9px
        Medium: 11px


    --- 07 Whitespace

    - SPACING SYSTEM (px)
        2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
